{% extends 'base.html' %}

{% block content %}
  <form class="giving-review-form" method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>

  <div class="giving-review-container">
      <table class="list-wrapper table table-hover table-dark"> 
      {% comment %} giving_table list-wrapper  {% endcomment %}
        <tr>
          <th scope="col">Giving Date</th>
          <th scope="col">Name</th>
          <th scope="col">Offering Amount</th>
          <th scope="col">Tithe Amount</th>
          <th scope="col">Building Fund Amount</th>
          <th scope="col">Other Amount</th>
        </tr>
        <div class="list-wrapper">
          {% for giving in filter.qs %}
            <tbody id="myTable">
              <tr class="list-item">
                <td>
                  <strong>{{ giving.giving_date }}</strong>
                </td>
                <td >
                  {{ giving.members.first_name }} {{ giving.members.last_name }}
                </td>
                <td >
                  {{ giving.offering_amount }}
                </td>
                <td >
                  {{ giving.tithe_amount }}
                </td>
                <td >
                  {{ giving.building_fund_amount }}
                </td>
                <td >
                  {{ giving.Other_amount }}
                </td>
              </tr>
            </tbody>
          {% endfor %}
        </div>
      </table>
      {% if filter.qs %}
        <div class="container form-main"><div id="pagination-container"></div></div>
      {% endif %}
    </div>
    
{% endblock content %}