{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="overlay">
    <div class="container welcome-tutorial">
        <div class="flex-container">
            <div class="introduction">
                <div class="box">
                    <h3 style="color: whitesmoke;">Hello {{ user.first_name}}</h3>
                    <h3> Welcome to CHURUCH Accounts</h3>
                    <p style="color: whitesmoke;">
                        Please watch the tutorial videos on the right side of this page for a quick
                        guide on how to use the CHURCH Accounts application.
                    </p>
                </div>
            </div>

            <div class="tutorial flex-tutorial">
                <div class="iframe2">
                    <iframe width="360" height="240" src="https://www.youtube.com/embed/X2lFi1qUzpo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                <div class="iframe2">
                    <iframe width="360" height="240" src="https://www.youtube.com/embed/8SXHrTqdz5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}