{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <h3 style="padding-bottom: 1em;" class="container container-edit container-reg">Add New Member</h3>
  <form id="register-form" method="post" class="form-main" action="">
    {% csrf_token %}
    <div class="container container-edit container-reg">
      {{ form.as_p }}
      <div class="form-group">
      <button class="btn btn-outline-info reg-form" type="submit">Submit</button>
    </div>
    </div>
    
  </form>
</div>
{% endblock %}