{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div id="update-container"  class="container">
  <h3 class="container container-edit container-reg">Add New Member</h3>
  <div class="form-main">
    <form id="update-form" method="post" action="">
      {% csrf_token %}
      <div class="container container-edit container-reg">
      {% comment %} <div class="form-control-2"> {% endcomment %}
        {{ form.as_p }}
        {% comment %} <div class="form-group"> {% endcomment %}
          <button class="btn btn-outline-info reg-form-button" type="submit">Submit</button>
        {% comment %} </div> {% endcomment %}
      </div>
      
    </form>
  </div>
</div>
{% endblock %}