{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tax_Receipt_{{ tax_year }}_{{ member.id }}</title>
    <link rel="stylesheet" href="{% static 'tax.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="logo-container">
        <img id="receipt-logo" src="{% static 'images/logo2.jpg' %}" alt="" />
      </div>
      <div class="flex-container-tax">
        <div class="letter-head-container" style="flex-basis: 40em;">
          <p class="letter-head">
            CHURCH NAME <br />
            Newfoundland
          </p>
          <p class="contact">
            <strong>Address:</strong> 1 Main Road, St. John's NL *** *** |
            <strong>Tel:</strong> 709-***-**** |
            <strong>Email:</strong> ************ |
            <strong>Website:</strong> www.*****.com
          </p>
        </div>
        <br /><br />
      </div>
      <p class="topic">Official Donation Receipt for Income Tax Purposes</p>
      <br /><br />
      <div class="body-container">
        <div>
          <p><strong>Registration number : </strong>***** **** ******</p>
          <p>
            <strong>For the year ending : December 31, {{ tax_year }}</strong>
          </p>
          <p><strong>Date Issued : {{ date_issued }}</strong></p>
          <p><strong>Receipt Number :</strong> CHURCH-20-0{{ member.id }}</p>
          <p><strong>Receipt Issued At :</strong> St. John's, NL</p>
        </div>
        <div class="notice">
          <p><strong>Donation received from:</strong></p>
          <p>
            {{ member.first_name }} {{ member.last_name}}
          </p>
          <p>{{ member.street_address }}, {{ member.postal_code }}</p>
          <p>{{ member.country }}</p>
        </div>
      </div>
      <div class="message">

        {% if total_giving is None %}
        <p>
            The donation of <strong> $0 </strong> was received
            at CHURCH NAME in St. John's, NL. This amount is eligible for tax
            purposes. No goods or services were provided in exchange for money
            given.
          </p>
        {% else %}
        <p>
            The donation of <strong> ${{ total_giving }}0 </strong> was received
            at CHURCH NAME in St. John's, NL. This amount is eligible for tax
            purposes. No goods or services were provided in exchange for money
            given.
          </p>
        {% endif %}
        
      </div>
      <div class="signature">
        <p>_________________________________________</p>
      </div>
    </div>
    <footer>
      <a target="_blank" class="cra-website" href="https://www.canada.ca/en/revenue-agency.html">www.canada.ca/en/revenue-agency.html</a>
    </footer>
  </body>
</html>
