{% load static %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'tax.css' %}" /> {% endcomment %}
<link rel="stylesheet" type="text/css" href="C:\Users\mogon\Documents\new_pc\Django\cmfi_account_app\DbEntry\static\tax.css" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="flex-container">
            <div class="logo-container">
                {% comment %} <img id="receipt-logo" src="{% static 'images/logo.jpeg' %}" alt=""> {% endcomment %}
                <img id="receipt-logo" src="C:\Users\mogon\Documents\new_pc\Django\cmfi_account_app\DbEntry\static\images\logo.jpeg" alt="">
            </div>
            <div class="letter-head-container" style="flex-basis:40em">
                <p class="letter-head">
                CHRISTIAN MISSIONARY FELLOWSHIP INTERNATIONAL <br> Newfoundland
                </p> 
                <p class='contact'><strong>Address:</strong> 55 Iceland Place, St. John's NL A1B 0E9 | <strong>Tel:</strong> 709-769-4613 | <strong>Email:</strong> giving@cmfinl.org | <strong>Website:</strong> www.cmfinl.org</p>
            </div>
            
        </div>
        <p class="topic">Official Donation Receipt for Income Tax Purposes</p>
        <div class="body-container">
            <div>
                <p><strong>Registration number : </strong>81253 1598 RR0001</p>
                <p><strong>For the year ending : December 31, {{ tax_year }}</strong></p>
                <p><strong>Date Issued : {{ date_issued }}</strong></p>
                <p><strong>Receipt Number :</strong> CMFINL-20-0{{ member.id }}   </p>
                <p><strong>Receipt Issued At :</strong> St. John's, NL</p>
            </div>
            <div class="notice">
                <strong>Donation received from:</strong>
                <p>{{ member.first_name }} {{ member.last_name}} {{ member.middle_name}} </p>
                <p> {{ member.street_address }} </p>
                <p> {{ member.postal_code }} </p>
            </div>
        </div>
        <div class="message">
            <p>
                The donation of <strong> ${{ total_giving }}0 </strong> was received at CMFI NL in St. John's, NL. This amount is eligible for tax purposes. <br> No goods or services were provided in exchange for money given.
            </p>
        </div>
    </div>
</body>
</html>




