{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="container">
    <div class="form-group">
      <a href="{% url "correct_giving" %}"><button class="btn btn-outline-info form-border" type="submit">Cancel</button></a>
    </div>
    <input class="reg-form" id="myInput" type="text" placeholder="...Search">
    <div class="table-container">
      <table class="giving_table list-wrapper table table-hover table-dark"> 
      {% comment %} giving_table list-wrapper  {% endcomment %}
        <tr>
          <th scope="col">Giving Date</th>
          <th scope="col">Offering Amount</th>
          <th scope="col">Tithe Amount</th>
          <th scope="col">Building Fund Amount</th>
          <th scope="col">Other Amount</th>
        </tr>
        <div class="list-wrapper">
          {% for post in posts %}
            <tbody id="myTable">
              <tr class="list-item">
                <td>
                  <a href="{% url "update_giving_object" post.id %}">
                  {{ post.giving_date }}
                </td>
                <td >
                  {{ post.offering_amount }}
                </td>
                <td >
                  {{ post.tithe_amount }}
                </td>
                <td >
                  {{ post.building_fund_amount }}
                </td>
                <td >
                  {{ post.Other_amount }}
                </td>
              </tr>
            </tbody>
          
          {% endfor %}
        </div>
      </table>
    </div>



    {% comment %} <div class="table-container">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Giving Date</th>
            <th scope="col">Offering Amount</th>
            <th scope="col">Tithe Amount</th>
            <th scope="col">Building Fund Amount</th>
            <th scope="col">Other Amount</th>
          </tr>
        </thead>
        <div class="list-wrapper">
          {% for post in posts %}
            <tbody id="myTable">
              <tr class="list-item">
                <td>
                  <a href="{% url "update_giving_object" post.id %}">
                  {{ post.giving_date }}
                </td>
                <td >
                  {{ post.offering_amount }}
                </td>
                <td >
                  {{ post.tithe_amount }}
                </td>
                <td >
                  {{ post.building_fund_amount }}
                </td>
                <td >
                  {{ post.Other_amount }}
                </td>
              </tr>
            </tbody>
          
          {% endfor %}
        </div>
      </table>
    </div> {% endcomment %}
</div>
{% if posts %}
        <div class="container form-main"><div id="pagination-container"></div></div>
{% endif %}
{% endblock content %}
