asgiref==3.2.5
astroid==2.3.3       
autopep8==1.5.1      
Babel==2.8.0
beautifulsoup4==4.9.1
boto3==1.13.6        
botocore==1.16.6     
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cssselect2==0.3.0
cycler==0.10.0
defusedxml==0.6.0
Django==3.0.4
django-bootstrap-pagination==1.7.1
django-bootstrap4==1.1.1
django-crispy-forms==1.9.0
django-filter==2.3.0
django-phone-field==1.8.0
django-phonenumber-field==4.0.0
django-storages==1.9.1
django-taggit==1.2.0
django-wkhtmltopdf==3.3.0
docutils==0.15.2
gitdb==4.0.5
GitPython==3.1.2
gunicorn==20.0.4
html5lib==1.0.1
idna==2.9
isort==4.3.21
jmespath==0.9.5
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pdfkit==0.6.1
phonenumbers==8.12.2
Pillow==8.2.0
psycopg2==2.8.4
pycodestyle==2.5.0
pycparser==2.20
pylint==2.4.4
pyparsing==2.4.6
Pyphen==0.9.5
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2019.3
s3transfer==0.3.3
six==1.14.0
smmap==3.0.4
soupsieve==2.0
sqlparse==0.3.1
tinycss2==1.0.2
typed-ast==1.4.1
urllib3==1.25.9
WeasyPrint==51
webencodings==0.5.1
wrapt==1.11.2