{% extends 'base.html' %} {% block content %}

<div>
  <div class="container">
    <h3>Update Member Info</h3>
    <br />
    <form
      id="form-get"
      method="get"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="form-row">
        <div class="col">
          <input
            type="text"
            class="form-control reg-form"
            name="fname"
            placeholder="Search by first name or last name"
            required
          />
        </div>
        <div class="form-group">
          <button
            id="search-button"
            class="search-buttons btn btn-outline-info reg-form"
            type="submit"
          >
            Search
          </button>
        </div>
      </div>
      <div class="list-wrapper">
        {% for member in members_list %}
        <ul class="list-item">
          <a href="{% url "update-submit" member.id %}">
            <li>{{ member.first_name}} | {{ member.last_name}} | {{ member.postal_code }} | {{ member.phone}}</li>
          </a>
        </ul>
        {% endfor %}
        
      </div>
      </form>
      {% if members_list %}
        <div class="container form-main"><div id="pagination-container"></div></div>
      {% endif %}
    </div>
    
</div>
{% endblock content %}
