/* ---------------------Tax slip styling----------------------- */
body {
  background-color: white;
}
.flex-container-tax {
  background-color: white;
  align-items: center;
  justify-content: space-around;
}

.flex-container-tax div {
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  margin-top: 2em;
}

.flex-container-tax .logo-container #receipt-logo {
  border-radius: 50%;
  width: 100px !important;
}

.letter-head-container .letter-head {
  text-align: center;
  margin-bottom: 0;
  color: #0053a0;
  font-weight: 400px;
  font-family: "Times New Roman", Times, serif;
}
.letter-head-container .contact {
  font-size: 18px;
  margin-top: 0;
  text-decoration: underline #0053a0 solid;
}
.topic {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.notice {
  margin-top: 5em;
  margin-bottom: 5em;
}

.body-container {
  margin-left: 3em;
}

.logo-container {
  padding-right: 16px;
  text-align: center;
  margin-top: 40px;
}
#receipt-logo {
  border-radius: 50%;
  width: 100px !important;
  height: 90px;
}

.message {
  margin-left: 3em;
  margin-bottom: 15em;
}

.signature {
  text-align: right;
  padding-right: 8em;
  margin-bottom: 5em;
}

footer {
  display: flex;
  justify-content: center;
  margin: 10em 0 5em 0;
}
.cra-website{
  text-decoration: none;
}
.cra-website:hover{
  text-decoration: underline;
}